.title {
    color: #8056eb;
    font-size: 1.4rem;
    padding-bottom: 2rem;
  }

@media (max-width: 700px) {
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}