.formContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    border: none;
    border-bottom: 1px solid black;
    font-size: 0.9rem;
    width: 300px;
}

.error {
    color: #FF2C2C;
    max-width: 300px;
    font-size: 0.8rem;
}