.container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;

  @include for-desktop-down {
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: auto;
  }

  @include for-phone-only {
    display: grid;
    grid-template-columns: 160px 160px;
  }
}
