.card {
  width: 160px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f2eefd;
  border-radius: 0.5rem;
  box-shadow: 0 .1rem .5rem #0000001a;

  @include for-phone-only {
    width: 140px;
    height: 100px;
  }

  .name {
    font-size: 1.1rem;
    text-transform: capitalize;
    color: #9977ef;
    font-weight: 500;
  }

  &:hover {
    background-color: #f7f4fd;
    transition: 300ms;
    cursor: pointer;
  }

  .icon {
    font-size: 30px;
  }
}

.vertical {
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
  background-color: inherit;
  padding: 1rem;
  border: 2px solid #e6e6e6;
  border-radius: 1rem;
  margin-bottom: 1rem;

  @include for-tablet-portrait-down {
    margin-bottom: 0;
  }


  :last-child {
    color: inherit;
  }

  &:hover,
  &.active {
    background-color: #f2eefd;
    border-color: #beaaf5;
  }
}