.aboutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-grey;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include for-tablet-landscape-down {
        flex-direction: column;
    }
}

.serviceImage {
    width: 100%;
    max-height: 500px;
    max-width: 500px;
    object-fit: cover;
}

.aboutText {
    max-width: 400px;
    font-size: 1.2rem;
    color: $color-grey;
}