.wrapper {
  padding-top: 6rem;
  text-align: center;
}

.heading {
  font-size: 3.5rem;
  line-height: 5rem;
}

.title {
  color: #8056eb;
}

.subtitle {
  color: #a8a8a8;
  font-size: 1.5rem;
  padding: 1rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  width: 30%;
  gap: 1rem;
}

.searchIcon {
  font-size: 1.5rem;
}

.businessList {
  text-align: left;
}

.popularTitle {
  font-size: 1.2rem;
  padding: 2rem 0;
}

@media (max-width: 700px) {

  .wrapper {
    padding-top: 0rem;
    text-align: center;
  }

  .heading {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}
