.button {
  padding: 1rem 1.5rem;
  background-color: $primary-color;
  color: #ffffff;
  border-radius: 8px;
  font-size: 1rem;

  &:hover {
    background-color: #5b24e7;
  }
}

.rounded {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
